---
layout: default
---

<div>
    <p>
        At times we get so caught up in our own lives &mdash; the pursuit of our next goal, the way we're perceived, the next thing we want &mdash; that we're so far gone from who and what is around us.
        It's good to take a step back once in a while and reflect on how we fit into the bigger picture and to focus on others. This blog is my attempt at stepping back to reflect and to connect with you
        by sharing my experiences.
    </p>
</div>
<br>
<div>
    <h2>Latest Posts</h2>
    {{ content }}
</div>
